body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: left;
  background: #da7;
}

.game {
  background: #e55;
}

.view {
  background: #56e
}

.listPane {
  background: #72c
}
.infoPane {
  background: #9c5
}
.btn {
  width: 20px;
  height: 20px;
}