body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: left;
  background: #da7;
}

.game {
  background: #e55;
}

.view {
  background: #56e;
  position: absolute;
}

.room {
  background: #8cf;
  position: absolute;
  border-radius: 20px;
}

.puzzleDiag {
  background: black;
  position: absolute;
}

.listPane {
  background: #82c;
  position: absolute;
}
.infoPane {
  background: #9c5;
  position: absolute;
}
.btn {
  position: absolute;
  width: 20px;
  height: 20px;
}